@media only screen and (min-width: 1365px)  {

    .top.col-md-12 {
        max-width: 61% !important;
    }

    .top.col-xl-8 {
        max-width: 57.666667%;
    }
}

@media only screen and (min-width: 992px)  and (max-width: 1365px) {

    .top.col-lg-11 {
        max-width: 79.333333% !important;
    }
    
    .top.col-md-12 {
        max-width: 79.333333% !important;
    }
}


@media only screen and (min-width: 768px)  and (max-width: 992px) {     

    .top.col-md-12 {
        max-width: 100% !important;
    }
}