@media print {
    a
    {
      text-decoration:none!important;
    }
    
    img.print-color, img.print-no-color
    {
      visibility:hidden;
    }

    img.rounded,img.countries-surname,img.countries{
        visibility:hidden;
    } 
    
    .top-text,section.data{
        visibility: visible;
    }

    .exclamation{
        padding-left:0px;
      
    }

    .top-text{
        opacity:.4;
    }
}
        
@media (min-width: 768px) and (max-width: 992px) {

    .col-md-12 {
        max-width: 71% !important;
    }
}