html
{
  color:#26303c;
  font-family:'PT Sans', serif!important;
  font-size:100%;
  line-height:1.3em;
  overflow-x:hidden;
}

.status
{
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  border:1px solid rgba(133,133,133,0.2);
  border-radius:.25rem!important;
  display:inline;
  font-size:.72rem;
  line-height:0;
  opacity:.9;
  padding:4px;
}

.table th,.table td
{
  border-top:none!important;
  padding-bottom:0!important;
}

.table thead th
{
  border-bottom:0 solid #dee2e6!important;
}

.table-exclamation td
{
  font-size:12px;
  padding-bottom:0!important;
  padding-top:0!important;
}

.telefon-number
{
  color:#000;
  display:inline-block;
  margin-top:16px;
}

.telefon-number span.telefon-pl,.telefon-number span.telefon
{
  font-size:16px;
  position:relative;
}

.top-line
{
  min-height:0!important;
  text-align:right;
}

.top-line img.countries-lang
{
  float:left;
  padding-bottom:6px;
}

.top-line a img
{
  margin-left:5px !important;
}

.top-text
{
  cursor:default;
  font-size:68%;
  opacity:.8;
  padding-right:16px;
  visibility:hidden;
}

a
{
  text-decoration:none;
}

a:hover
{
  text-decoration:underline;
}

b
{
  color:#000;
}

img.countries
{
  height:9px;
  position:relative;
}

img.countries-lang
{
  height:9px;
  position:relative;
}

img.countries-surname
{
  height:9px;
  position:relative;
  top:-1px;
}

img.image-phone
{
  position:relative;
  top:2px;
}

img.pdf
{
  cursor:pointer;
  position: relative;
}

img.print
{
  background-color:transparent;
  border:none;
  bottom:60px;
  cursor:pointer;
  opacity:.3;
  position:fixed;
  left:60px;
  vertical-align:middle;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  transition:opacity .7s ease-out;
}

img.print:hover
{
  cursor: pointer;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  opacity:.8;
  transition:opacity .7s ease-out;
}

img.print-color
{
  background-color:transparent;
  border:none;
  bottom:16px;
  cursor:pointer;
  position:fixed;
  left:16px;
  opacity: .5;
  vertical-align:middle;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  transition:opacity .7s ease-out;
}

img.print-color:hover
{
  cursor: pointer;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  opacity: .5;
  transition:opacity .7s ease-out;
}

img.print-color:hover
{
  cursor: pointer;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  opacity: 1;
  transition:opacity .7s ease-out;
}

img.print-color.active, img.print-color-pdf.active, img.print-color-no.active
{

  opacity: 1;

}

img.print-color-pdf
{
  background-color:transparent;
  border:none;
  bottom:16px;
  cursor:pointer;
  position:fixed;
  left:58px;
  opacity: .5;
  vertical-align:middle;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  transition:opacity .7s ease-out;
}

img.print-color-pdf:hover
{
  cursor: pointer;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  opacity: 1;
  transition:opacity .7s ease-out;
}

img.print-color-no
{
  background-color:transparent;
  border:none;
  bottom:16px;
  cursor:pointer;
  position:fixed;
  left:100px;
  opacity: .5;
  vertical-align:middle;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  transition:opacity .7s ease-out;
}

img.print-color-no:hover
{
  cursor: pointer;
  -moz-transition:opacity .7s ease-out;
  -o-transition:opacity .7s ease-out;
  -webkit-transition:opacity .7s ease-out;
  opacity: 1;
  transition:opacity .7s ease-out;
}

.test{
  left: 16px;
    bottom: 10px;
    position:sticky;
}
 

p
{
  margin-top:0;
  padding-left:.75rem!important;
}

p.goal
{
  font-size:13px;
  font-style:italic;
  font-weight:100;
  margin-top:6px;
}

section.info
{
  padding-top: 12px;
}

section.data
{
  visibility: hidden;
  font-size:68%;
  text-align:center;
  color:#000;
}

section.skills ul li
{
  line-height:1.7em;
  padding-top:2px;
}

span.exclamation_text
{
  display:inline-block;
  font-size:12px;
  padding-bottom:14px;
}

span.exclamation_text img
{
  margin-bottom:1px;
}

span.profession
{
  display:block;
  padding-bottom:14px;
  padding-left:.75rem;
  padding-top:14px;
}

td
{
  font-size:16px;
}

td span.caption
{
  color:#000;
  display:block;
  font-size:26px;
  font-weight:700;
  margin-bottom:30px;
}

td span.name
{
  color:#000;
  display:inline-block;
  font-size:26px;
  font-weight:700;
  line-height:34px;
  margin-bottom:8px;
}

td.brief
{
  padding-bottom:30px!important;
  padding-top:0;
}

td.diploma-school
{
  line-height:18px;
  padding-bottom:16px!important;
}

td.pdf-table
{
  padding:0!important;
}

td.text-right
{
  font-size:14px;
}

td.text-right.portfoliolinks
{
  font-size:16px;
  font-weight:700;
}

td.text-right.skills
{
  font-size:16px;
  font-weight:700;
  word-break:break-word;
}

th.w-50
{
  margin-top:0!important;
  padding-top:0!important;
}

tr td:first-child
{
  width:30%;
}

tr.withlist td
{
  margin:0;
  padding:0;
}

ul
{
  line-height:2rem;
  list-style:circle;
  margin-top:-3px;
  padding-left:2rem!important;
}

ul li
{
  line-height:1.8rem;
}

ul.flags
{
  line-height:1.5rem;
  list-style:none;
  padding-left:0!important;
}

ul.flags li
{
  display:inline;
}

ul.social
{
  line-height:1.5rem;
  list-style:none;
  padding-left:1rem!important;
}

.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(176, 193, 212, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #8da7c5;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 16px;
    bottom: 16px;
  }
}

.text-left{
  padding-left: 10px;
}